body{
    height: 120%;
}
#rt{
    width: 20%;
    height:95%;

    position: absolute;
    left: 0%;
    top: 10%;
}
#rtt{
    border: 1px solid;
    box-shadow: 5px 10px gainsboro;
    width: 20%;
    height:95%;
    background-color: darkgray;

    position: absolute;
    left: 0%;
    top: 10%;
}
#rt1{
    position: absolute;
    top: 20%;
    left: 5%;
}
#A{
    color: red;
}
#pt{
    width: 100%;
    height: 20%;
}
#top{
    width: 100%;
    height: 10%;
    background-image: linear-gradient(to bottom right, red, yellow);
    position: absolute;
    top: 0%;
    left: 0%;
}
#df{
    width:80%;
     height: 60%;
    position: absolute;
    left: 20%;
    top: 10%;
}
.myslide{
    width:1000px;
}

.dv{
    display: flex;
    flex-direction: row;
}
article{
    width: 70%;
    height: 50%;
    position: absolute;
    top: 70%;
    left: 23%;
}
footer{

    width:100%;
    height: 20%;
    position: absolute;
    left: 0%;
    top: 130%;

}
#ct{
    width: 100%;
    height: 10%;
    background-color: #b4aa50;
    position: absolute;
    top: 0%;
    left: 0%;
}
#fm{
    width: 70%;
    height: 70%;
    position: absolute;
    top: 15%;
    left: 25%;


}
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
#cd{
    width: 20%;
    height: 20%;
    position: absolute;
    top: 130%;
    left: 2%;
}
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {

    display: none;
    position: absolute;
    left: -80%;
    background-color: #f1f1f1;
    width: 200px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 25px 25px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
#toto{
    position: absolute;
    left: 50%;
}
.slideshow{

    border:5px solid white;
    box-shadow:0 0 5px hsla(0,0%,0%,.5);
    overflow:hidden;
    max-width:600px;

    margin:10px auto;
    position:relative;
    top: 52px;
}

.slideshow ul{
    height:700px;
    margin:0;
    position:relative;
}


.slideshow li{
    width:100%;

    top:0;
    left:0;
    animation:slideshow 25s ease infinite;
    -webkit-animation:slideshow 25s ease infinite;
    position:absolute;
    opacity:0;
    list-style:none}

.slideshow li img{height:auto;max-width:100%}
.slideshow li:nth-child(2){animation-delay:5s;-webkit-animation-delay:5s}
.slideshow li:nth-child(3){animation-delay:10s;-webkit-animation-delay:10s}
.slideshow li:nth-child(4){animation-delay:15s;-webkit-animation-delay:15s}
.slideshow li:nth-child(5){animation-delay:20s;-webkit-animation-delay:20s}

@keyframes slideshow{0%{opacity:0}10%{opacity:1}20%{opacity:1}25%{opacity:0}100%{opacity:0}}
@-webkit-keyframes slideshow{0%{opacity:0}10%{opacity:1}20%{opacity:1}25%{opacity:0}100%{opacity:0}}



.description_slideshow span{
    color:white;
    display:block;
    font-size:1rem;
    line-height:48px}

/*****barre progression *****/
.barre_progression{
    position:absolute;
    bottom:48px;
    width:100%;
    height:5px;
    background:white;
    animation:barre_progression 25s ease-out infinite;
    -webkit-animation:barre_progression 25s ease-out infinite}

/*****animation barre progression *****/
@keyframes barre_progression{
    0%,20%,40%,60%,80%,100%{width:0%;opacity:0}
    4%,24%,44%,64%,84%{width:0%;opacity:.3}
    16%,36%,56%,76%,96%{width:100%;opacity:.7}
    17%,37%,57%,77%,97%{width:100%;opacity:.3}
    18%,38%,58%,78%,98%{width:100%;opacity:0}}

@-webkit-keyframes barre_progression{
    0%,20%,40%,60%,80%,100%{width:0%;opacity:0}
    4%,24%,44%,64%,84%{width:0%;opacity:.3}
    16%,36%,56%,76%,96%{width:100%;opacity:.7}
    17%,37%,57%,77%,97%{width:100%;opacity:.3}
    18%,38%,58%,78%,98%{width:100%;opacity:0}}


@media screen and (max-width:41.6rem){

    .slideshow,
    .slideshow ul li,
    .description_slideshow{

        width:100%

    }

    .slideshow ul{

        height:80%

    }

    .description_slideshow span{

        font-size:1rem
    }
}
.description_slideshow{
    width: 50%;
    height: 50%;
}

#mybtn{
    position: absolute;left: 80%;bottom: 0%
}
#vd{
    width: 100%;
    height: 40%;
    position: absolute;
    left: -3%;
    top: 103%;
    box-shadow: 5px 10px #3a3a3a;
    
    z-index: 15;
}
#vdd{
    width: 100%;
    height: 100%;
    z-index: 50;
}
